{{/*
  ParseRule
  Make sure the given map for a rule matches the expecting data structure

  @author @regisphilibert

  @context Map
            String (.source)
            String (.target)
            String (.code) optional
            String (.language) optional
            String (.country) optional
            String (.role) optional

  @return Map
            String (.source)
            String (.target)
            String (.code)
            String (.language)
            String (.country)
            String (.role)

  @access private

  @example - Go Template
    {{ $rule := partialCached "server/ParseRule" . . }}
*/}}

{{/* Defining defaults */}}
{{ $rule := dict }}

{{ $code := "301" }}
{{ $source := "" }}
{{ $target := "" }}
{{ $language := "" }}
{{ $country := "" }}
{{ $role := "" }}

{{ with .source }}
  {{ $source = . }}
{{ end }}

{{ with .target }}
  {{ $target = . }}
{{ end }}

{{ with .code }}
  {{ $code = . }}
{{ end }}

{{ with .country }}
  {{ $country = . }}
{{ end }}

{{ with .language }}
  {{ $language = . }}
{{ end }}

{{ with .role }}
  {{ $role = . }}
{{ end }}

{{/* We only print the rule if both source and target are set and print a warning for every rule failing this test */}}
{{ if and $source $target }}
  {{/* We only print with different source and target value and print a warning for every rule failing this test */}}
  {{ if ne $source $target }}
    {{ $rule = dict "source" $source "target" $target "code" $code "country" $country "language" $language "role" $role }}
  {{ else }}
    {{ warnf "A redirect rule with equal source and target (%s) was not printed" $source }}
  {{ end }}
{{ else }}
  {{ warnf "A redirect rule missing either source or target or both was not printed "  }}
{{ end }}

{{ return $rule }}
