{{/*
  netlify/FormatRule
  Given a map detailed below, this will format a string using Netlify's `_redirect` rule format

  @author @regisphilibert

  @context Map
            String (.origin)
            String (.target)
            String (.code)
            Bool (.force)
            String (.language)
            String (.country)
            String (.role)

  @access private

  @return String

  @example - Go Template
    {{- with partialCached "tnd-redirects/private/netlify/WriteRule" . . -}}
      {{- . -}}
    {{- end }}
*/}}

{{/* Some sensible defaults */}}

{{/* $rule is a slice on which we'll append strings. 
When done, it will be turned into a phrase with delimit */}}
{{ $output_rule := "" }}
{{ $rule := slice }}
{{ if and .origin .target }}
  {{ $rule = slice .origin .target }}
{{ end }}
{{ $country := false }}
{{ $language := false }}
{{ $role := false }}
{{ $comment := false }}

{{ with .code }}
  {{ $code := . }}
  {{/* Netlify format requires a ! appended to the code for force redirects */}}
  {{ with $.force }}
    {{ $code = printf "%s!" $code }}
  {{ end }}
  {{ $rule = $rule | append $code }}
{{ end }}

{{ with .country }}
  {{ $query := printf "Country=%s" . }}
  {{ $rule = $rule | append $query }} 
{{ end }}

{{ with .language }}
  {{ $query := printf "Language=%s" . }}
  {{ $rule = $rule | append $query }} 
{{ end }}

{{ with .role }}
  {{ $query := printf "Role=%s" . }}
  {{ $rule = $rule | append $query }} 
{{ end }}

{{ with .comment }}
  {{ $comment = printf "# %s" . }}
{{ end }}


{{ with $rule }}
  {{/* We glue each piece of the slice together with whitespaces */}}
  {{ $output_rule = delimit . " " }}

  {{/* If we have a comment on top of the rule, add it before the rule */}}
  {{ with $comment }}
    {{ $output_rule = printf "%s\n%s" . $output_rule }}
  {{ end }}
{{ else }}
  {{/* If we have a comment but no rule, we just print the comment */}}
  {{ with $comment }}
    {{ $output_rule = . }}
  {{ end }}
{{ end }}

{{/* Netlify does not allow Language and Country query on one rule. This prints a warning if such a rule is printed */}}
{{ if and .country .language }}
  {{ $warn := "Redirect rule `%s` contains both Country and Language while Netlify only allow one of each per rule." $rule }}
  {{ partial "tnd-redirects/warn" $warn }}
{{ end }}

{{ return $output_rule }}