{{/*
  WriteRule
  Given a map detailed below, this will format a string using Netlify's `_redirect` rule format

  @author @regisphilibert

  @context Map
            String (.origin)
            String (.target)
            String (.code)
            String (.language)
            String (.country)
            String (.role)

  @access private

  @return String

  @example - Go Template
    {{- with partialCached "tnd-redirects/private/netlify/WriteRule" . . -}}
      {{- . -}}
    {{- end }}
*/}}

{{/* Some sensible defaults */}}

{{/* $rule is a slice on which we'll append strings. 
When done, it will be turned into a phrase with delimit */}}
{{ $rule := slice .origin .target }}
{{ $country := false }}
{{ $language := false }}
{{ $role := false }}


{{ with .code }}
  {{ $code := . }}
  {{/* Netlify format requires a ! appended to the code for force redirects */}}
  {{ with $.force }}
    {{ $code = printf "%s!" $code }}
  {{ end }}
  {{ $rule = $rule | append $code }}
{{ end }}

{{ with .country }}
  {{ $query := printf "Country=%s" . }}
  {{ $rule = $rule | append $query }} 
{{ end }}

{{ with .language }}
  {{ $query := printf "Language=%s" . }}
  {{ $rule = $rule | append $query }} 
{{ end }}

{{ with .role }}
  {{ $query := printf "Role=%s" . }}
  {{ $rule = $rule | append $query }} 
{{ end }}

{{/* We glue each piece of the slice together with whitespaces */}}
{{ $rule = delimit $rule " " }}

{{/* Netlify does not allow Language and Country query on one rule. This prints a warning if such a rule is printed */}}
{{ if and .country .language }}
  {{ warnf "Redirect rule `%s` countains both Country and Language while Netlify only allow one of each per rule." $rule }}
{{ end }}

{{ return $rule }}