{{/*
  GetRules
  Build an array of redirect/rewrite rules

  @author @regisphilibert

  @context Any (.)

  @access private

  @return Slice of maps
        - String (.origin)
          String (.target)
          String (.code)
          String (.country) optional
          String (.language) optional

  @use 
    tnd-redirects/private/GetConfig
    tnd-redirects/private/ParseRule
    tnd-redirects/AddRules

  @example - Go Template
  {{ $redirects := partialCached "tnd-redirects/private/GetRules" "GetRules" }}
*/}}
{{ $redirs := slice }}

{{ $config := partialCached "tnd-redirects/private/GetConfig" "GetConfig" }}
{{ if $config.use_aliases }}
  {{/* We range on Sites to make sure every languages are accounted for */}}
  {{ range site.Sites }}
    {{ range $page := .Pages }}
      {{ range .Aliases }}
        {{ $rule := dict "origin" . "target" $page.RelPermalink "code" "301" }}
        {{ $redirs = $redirs | append $rule }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ with $config.redirects }}
  {{ $warn := printf "%s`redirects` configuration parameter is deprecated and should be replaced by `rules`" }}
  {{ partial "tnd-redirects/warn" $warn }}
  {{ $redirs = $redirs | append . }}
{{ else }}
  {{ with $config.rules }}
    {{ $redirs = $redirs | append . }}
  {{ end }}
{{ end }}

{{/* We fetch the complementary rules from the overwritable public "AddRules" */}}
{{ $AddRules := partial "tnd-redirects/AddRules" "AddRule" }}
{{ if reflect.IsSlice $AddRules }}
  {{ range $AddRules }}
    {{/* append should be able to take a slice as parameter, so we could simply pass the returned value of above partial 
      as an append argument and expect all its entries to be singlehandedly appended to the collection but... 
      1. It seems appending a slice will prepend the collection instead of appending
      2. A current bug seems to type the slice returned by `tnd-redirects/AddRules` as a []map[string]interface {}, and append
        throws an error as we are using the wrong type as "initial" slice.
    */}}
    {{ $redirs = $redirs | append . }}
  {{ end }}
{{ else }}
  {{ $err := "Project's own tnd-redirects/AddRules partial returns wrong type, slice expected." }}
  {{ partial "tnd-redirects/err" $err }}
{{ end }}


{{/* We use apply in order to Parse the entries directly in the slice */}}
{{ $redirs := apply $redirs "partialCached" "tnd-redirects/private/ParseRule" "." "." }}
{{ return $redirs }}