{{/*
  ParseRule
  Make sure the given map for a rule matches the expecting data structure

  @author @regisphilibert

  @context Map
            String (.origin)
            String (.target)
            String/Int (.code) optional
            Bool (.force) optional
            String (.language) optional
            String (.country) optional
            String (.role) optional

  @return Map
            String (.origin)
            String (.target)
            String (.code)
            Bool (.force)
            String (.language)
            String (.country)
            String (.role)

  @access private

  @example - Go Template
    {{ $rule := partialCached "tnd-redirects/ParseRule" . . }}
*/}}

{{/* Defining defaults */}}
{{ $rule := dict }}

{{ $code := "301" }}
{{ $force := false }}
{{ $origin := "" }}
{{ $target := "" }}
{{ $language := "" }}
{{ $country := "" }}
{{ $role := "" }}

{{ with .origin }}
  {{ $origin = . }}
{{ end }}

{{ with .target }}
  {{ $target = . }}
{{ end }}

{{ with .code }}
  {{/* Depending on config language, code could be int or string
    We make sure we return a string to avoid type error. */}}
  {{ $code = . | string }}
{{ end }}

{{ with .force }}
  {{ $force = . }}
{{ end }}

{{ with .country }}
  {{ $country = . }}
{{ end }}

{{ with .language }}
  {{ $language = . }}
{{ end }}

{{ with .role }}
  {{ $role = . }}
{{ end }}

{{/* We only print the rule if both origin and target are set and print a warning for every rule failing this test */}}
{{ if and $origin $target }}
  {{/* We only print with different origin and target value and print a warning for every rule failing this test */}}
  {{ if ne $origin $target }}
    {{ $rule = dict "origin" $origin "target" $target "code" $code "force" $force "country" $country "language" $language "role" $role }}
  {{ else }}
  {{ $warn1 := printf "A redirect rule with equal origin and target (%s) was not printed" $origin }}
  {{ partial "tnd-redirects/err" $warn1 }}
  {{ end }}
{{ else }}
  {{ $warn2 := "A redirect rule missing either origin or target or both was not printed." }}
  {{ partial "tnd-redirects/err" $warn2 }}
{{ end }}

{{ return $rule }}
